* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #e5ddd2;
  font-family: "Playfair Display", serif;
}

header {
  color: #3f1a04;
  height: 10vh;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
}

header .container .magnifier {
  height: 40px;
  width: 40px;
}

header .container .menu {
  background-color: #f6f1ee;
}

header .container .menu__icon {
  padding-bottom: 10px;
  height: 90px;
  width: 90px;
}

.container {
  padding-left: 18.7vw;
}

main {
  height: 90vh;
}

main nav {
  position: absolute;
  top: 250px;
  left: 70px;
  z-index: 20;
}

main nav .page {
  position: absolute;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background: #ab9a82;
  cursor: pointer;
}

main nav .page:hover, main nav .page.selected {
  background-color: #897252;
  height: 10px;
  width: 10px;
  left: -1px;
}

main nav .page:nth-child(2) {
  top: 30px;
}

main nav .page:nth-child(3) {
  top: 60px;
}

main nav .page:nth-child(4) {
  top: 90px;
}

main ol.pages {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  counter-set: header 0 nextpage 1;
}

main ol.pages > li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  counter-increment: header;
}

main ol.pages > li .pages__left-column,
main ol.pages > li .pages__right-column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

main ol.pages > li .pages__left-column {
  z-index: 2;
}

main ol.pages > li .pages__right-column {
  z-index: 1;
}

main ol.pages > li .pages__right-column__image {
  height: 100%;
  background-size: cover;
}

main ol.pages > li h2 {
  font-size: 50px;
  color: #3f1a04;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

main ol.pages > li h2::before {
  display: block;
  margin-bottom: 30px;
  font-size: 60px;
  content: "0" counter(header) ".";
}

main ol.pages > li p {
  color: #3f1a04;
  line-height: 2;
  padding-right: 70px;
  font-size: 18px;
}

main ol.pages > li footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

main ol.pages > li footer .footer-image {
  height: 150px;
  width: auto;
}

main ol.pages > li footer .arrow {
  width: 40px;
  height: 40px;
}

main ol.pages > li footer .pages__footer__next-pages {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

main ol.pages > li footer .pages__footer__next-pages > li {
  counter-increment: nextpage;
}

main ol.pages > li footer .pages__footer__next-pages > li .pages__footer__next-pages-next-page {
  width: 100%;
  height: 150px;
  padding-left: 20px;
  background-color: #f6f1ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main ol.pages > li footer .pages__footer__next-pages > li .pages__footer__next-pages-next-page h3 {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3f1a04;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 80pX;
}

main ol.pages > li footer .pages__footer__next-pages > li .pages__footer__next-pages-next-page h3::before {
  font-weight: 600;
  font-size: 40px;
  color: #745947;
  content: "0" counter(nextpage) ".";
}

main ol.pages > li footer .pages__footer__next-pages > li .pages__footer__next-pages-next-page .pages__footer__next-pages__next-page__thumbnail__next-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background-color: #f3ede4;
}

main ol.pages > li footer .pages__footer__next-pages > li .pages__footer__next-pages-next-page .pages__footer__next-pages__next-page__thumbnail {
  padding: 20px;
}

main ol.pages > li footer .pages__footer__next-pages > li .pages__footer__next-pages-next-page .pages__footer__next-pages__next-page__thumbnail img {
  height: 90%;
}
/*# sourceMappingURL=styles.css.map */