$dark: #e5ddd2;
$light: #f6f1ee;
$lighish: #f3ede4;
$primary: #3f1a04;
$primary-dark: #2e1201;
$primary-light: #745947;
$nav: #ab9a82;
$nav-selected: #897252;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $dark;
  font-family: "Playfair Display", serif;
}

header {
  // margin-bottom: 40px;


  color: $primary;
  .container {
    h1 {
      font-family: 'Playfair Display SC', serif;
      font-weight: 700;
    }
    .magnifier {
      height: 40px;
      width: 40px;
    }
    .menu {
      background-color: $light;
      // padding: 30px 20px;
    }
    .menu__icon {
      padding-bottom: 10px ;
      height: 90px;
      width: 90px;
    }

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  height: 10vh;
}

.container {
  padding-left: 18.7vw;
}

main {

  nav {

    position: absolute;
    top:250px;
    left:70px;
    z-index:20;

    .page {
      position: absolute;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      background: $nav;
      cursor: pointer;

      &:hover, &.selected {
        background-color: $nav-selected;
        height: 10px;
        width: 10px;
        left:-1px
      }

      &:nth-child(2) {
        top: 30px;
      }
      &:nth-child(3) {
        top: 60px;
      }
      &:nth-child(4) {
        top: 90px;
      }


    }
  }


  height: 90vh;

  ol.pages {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    // Important:
    // Once items are outside of the ordered list
    // container, do not display them
    overflow: hidden;
    // Counters keeping tracks of numbers on top
    // of header and photo in footer
    counter-set: header 0 nextpage 1;

    > li {
      height: 100%;
      display: flex;
      // top counter starts with 1
      // for the first item
      counter-increment: header;

      .pages__left-column,
      .pages__right-column {
        position: relative;
        flex: 1;
        // Make two columns equal
        min-width: 0;
      }
      .pages__left-column {
        z-index: 2;
      }

      .pages__right-column {
        z-index: 1;
      }

      .pages__right-column__image {
        height: 100%;
        background-size: cover;
      }
      h2 {
        font-size: 50px;
        color: $primary;
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;

        &::before {
          display: block;
          margin-bottom: 30px;
          font-size: 60px;
          content: "0" counter(header) ".";
        }
      }

      p {
        color: $primary;
        line-height: 2;
        padding-right: 70px;
        font-size: 18px;
      }

      footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .footer-image {
          height: 150px;
          width: auto;
        }
        .arrow {
          width: 40px;
          height: 40px;
        }
        .pages__footer__next-pages {
          margin: 0;
          padding: 0;
          overflow: hidden;
          width: 100%;

          > li {
            counter-increment: nextpage;
            .pages__footer__next-pages-next-page {
              width: 100%;
              height: 150px;
              padding-left: 20px;
              background-color: $light;
              display: flex;
              align-items: stretch;
              align-content: center;
              justify-content: space-between;

              h3 {
                margin: 0;
                justify-content: center;
                display: flex;
                flex-direction: column;
                color: $primary;
                font-size: 25px;
                text-transform: uppercase;
                font-weight: 400;
                padding-left: 80pX;

                &::before {
                  font-weight: 600;
                  font-size: 40px;
                  color: $primary-light;
                  content: "0" counter(nextpage) ".";
                }
              }
              .pages__footer__next-pages__next-page__thumbnail__next-arrow {
                display: flex;
                align-items: center;
                // img {
                //   height: 20%;
                // }
                padding: 0 20px;
                background-color: $lighish;
              }
              .pages__footer__next-pages__next-page__thumbnail{
                padding:20px;
                img {
                  height: 90%;
                }
              }

            }
          }
        }
      }
    }
  }
}
