$dark:#E5DDD2;
$light:#FBF6F0;
$lighish:#F3EDE4;
$primary:#3F1A04;
$primary-dark:#2E1201;
$primary-light:#745947;
$nav:#AB9A82;
$nav-selected:#897252;

*{
  box-sizing:border-box;
}

body {
  margin:0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $dark;
  font-family: "Playfair Display", serif;
}

header {
  .container {
    .magnifier {
      height: 50px;
      width: 50px;
    }
    .menu{
      background-color: $light;
      // padding: 30px 20px;
    }
    .menu__icon {
      height: 100px;
      width: 100px;
    }

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  height:10vh;
}

.container {
  padding-left: 10vw;
}
